services:
  dns01-stack:
    image: harianto/dns01-stack
    container_name: dns01-stack
    restart: unless-stopped
    ports:
      - "53:53"
      - "53:53/udp"
      - "8080:80"
      - "8443:443"
    volumes:
      - ./data/dns01/config:/etc/acme-dns
      - ./data/dns01/data:/var/lib/acme-dns
      - dns01-config:/app/config:rw
      - dns01-data:/app/data:rw
      - letsencrypt:/etc/letsencrypt
      - ./data/dns01/host:/config/host
    environment:
      - CLIENTSTORAGE_DATA=/app/config/clientstorage.json
      - NUXT_APPLICATIONS_DATA_ROOT=${NUXT_APPLICATIONS_DATA_ROOT:-/app/data}
      - ACMEDNS_URL=${ACMEDNS_URL:-http://127.0.0.1}
      - NUXT_PUBLIC_DEFAULT_ACMEDNS_URL=${NUXT_PUBLIC_DEFAULT_ACMEDNS_URL:-http://127.0.0.1}
      - ADMINISTRATOR_PASSWORD=${ADMINISTRATOR_PASSWORD:-}
      - DOMAINS_FILE=/config/host/domains.txt
      - CERTBOT_CONFIG_DIR=/etc/letsencrypt
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-admin@example.com}
      - RENEW_INTERVAL=${RENEW_INTERVAL:-12}
      - CERTS_ACME_ENABLED=${CERTS_ACME_ENABLED:-true}
      - NUXT_ACME_DNS_CONFIG=/etc/acme-dns/config.cfg
      - TZ=${TZ:-UTC}
    cap_add:
      - NET_BIND_SERVICE

volumes:
  letsencrypt:
    name: letsencrypt
  dns01-config:
    name: dns01-config
  dns01-data:
    name: dns01-data
